@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.body{
  background-image: url('homepage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center
}

.point button{
    background-color: #f4511e;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.point button:hover {
    background-color: gray; /* Green */
    color: blue;
  }